<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Z-Translator - Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css">
</head>

<body>
    <%- include('../partials/navbar') %>

    <h1 id="title">Your dashboard</h1>

    <div class="jumbotron">
        <h4>Your Projects</h4>
    </div>

    <div class="jumbotron">
        <h4>Projects joined</h4>
    </div>

</body>

</html>