<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Z-Translator - Translate</title>
    <link rel="stylesheet" href="../css/project.css">
    <script src="../scripts/project.js"></script>
</head>

<body onload="main()">
    <%- include('../partials/navbar') %>

    <h1 id="title">Translate - <%= project.name %></h1>

    <div id="mainzone">
        <div id="loading">
            <div class="spinner-border text-success" role="status" aria-hidden="true"></div>
            Loading...
        </div>
    </div>

</body>

</html>