<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Z-Translator - Translate</title>
    <link rel="stylesheet" href="../css/project.css">
    <script src="../scripts/project.js"></script>
</head>

<body onload="main()">
    <%- include('../partials/navbar') %>

    <h1 id="title">Translate - <%= project_name %></h1>

    <div id="mainzone">
        <div id="loading" class="section d-none">
            <div class="spinner-border text-success" role="status" aria-hidden="true"></div>
            Loading...
        </div>

        <div id="closed" class="section d-none">
            <%- include('../partials/report_problem') %>
            Connection to server has been closed
        </div>

        <div id="select-lang" class="section d-none">
            <h4>Select a language to translate</h4>

            <div id="langs-btn" class="btn-group-vertical" role="group">
                <!-- <button type="button" class="btn btn-secondary">1</button> -->
            </div>
        </div>

        <div id="tr-panel" class="section d-none">
            <div id="tr-left" class="d-none d-md-block">
                <div id="tr-left-sum"><span>French</span> <span>100%</span></div>
                <!-- <div class="tr-string valid">Protecting the land and scaring away creatures with this new potato launching device!</div>
                <div class="tr-string valid selected">Starting</div> -->
            </div>
            <div id="tr-right">
                <div id="tr-origin">

                </div>
                <div id="tr-area">
                    
                </div>
            </div>
        </div>
    </div>

</body>

</html>