<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Z-Translator - Sign up</title>
    <link rel="stylesheet" href="css/signin.css">
</head>

<body onload="main()">
    <%- include('../partials/navbar') %>

    <h2 id="title">Sign In</h2>

    <form class="jumbotron" action="" method="POST">
        <% if (tried) { %>
            <div id="failure" class="fade-in">Wrong email or password.</div>
        <% } %>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" minlength="8" maxlength="64"
                required>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
    </div>

</body>

</html>