body {
    padding-top: 0;
}

#global-div {
    display: flex;
    height: 100vh;
    overflow: hidden;
    padding-top: 60px;
}

#title {
    margin: 3% 0 15px 5%;
}

@media (max-width: 768px) {
    #title {
        font-size: 32px;
    }
}

#mainzone {
    /* background-color: greenyellow; */
    background-color: #f0f5f5;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 180px;
    display: grid;
    flex: 1;
}

#mainzone.full {
    padding: 0
}

#loading {
    margin: auto;
    align-items: center;
    display: flex;
}

#loading .spinner-border {
    margin-right: 7px;
}

.section>h4 {
    padding-bottom: 15px;
}

#closed {
    color: red;
    fill: red;
    font-size: larger;
    align-items: center;
    display: flex;
    margin: auto;
}

#tr-panel {
    /* background-color: rebeccapurple; */
    display: flex;
    overflow: hidden;
    width: 100%;
}

#tr-left {
    background-color: #29a329;
    width: 15%;
    min-width: 150px;
    padding: 1% 0%;
    overflow: auto;
    flex-shrink: 0;
    user-select: none;
    scrollbar-color: rgba(255, 255, 255, .8) transparent;
}

#tr-right {
    /* background-color: saddlebrown; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    scrollbar-color: rgb(255, 255, 255) #5cd65c;
}

#tr-origin {
    background-color: #adebad;
    min-height: 200px;
    flex-grow: 1;
}

#tr-area {
    background-color: #5cd65c;
    min-height: 200px;
    flex-grow: 1;
}

#tr-left-sum {
    margin-left: 15px;
    margin-bottom: 5px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#tr-left-sum>span:nth-child(1) {
    font-weight: bold;
}

.tr-string {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: smaller;
    padding: 1% 4%;
    cursor: pointer;
    display: block;
    color: black;
}

.tr-string.valid {
    color: greenyellow;
}

.tr-string.selected {
    background-color: rgba(173, 235, 173, .5);
}

.tr-string:hover {
    background-color: rgba(173, 235, 173, .7);
    text-decoration: none;
}

.tr-string.valid:hover {
    color: #5c9900;
}

#tr-origin>h5>span, #tr-area>h5>span {
    font-size: smaller;
    color: #003366;
}

#tr-origin>h5, #tr-area>h5 {
    margin-left: 1%;
}